@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  text-align: center;
}

.advantages-preview {
  align-items: center;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service {
  text-align: center;
}

.service-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search {
  text-align: center;
  background-color: #ffffff;
}

.search-title {
  text-transform: uppercase;
}

.newsteller {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.newsteller-main {
  background-image: url("../images/index-page/subscribe.jpg");
  background-color: #497795;
  color: #ffffff;
  background-size: cover;
}

.newsteller-title {
  text-transform: uppercase;
}

.navigation {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-link {
  text-decoration: none;
}

.list-reset {
  list-style: none;
}

/* catalog  */
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}

.hotel-filter {
  background-color: #497795;
  background-image: url(../images/catalog-page/filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hotel-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.hotel-list-item-image {
  width: 300px;
  height: 212px;
}

.button {
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.primary-button {
  background-color: #756157;
  color: #ffffff;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.secondary-button {
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #82b3d3;
  text-decoration: none;
}

.number-of-likes {
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  width: 20px;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  height: 20px;
}

.view-list-button {
  display: block;
  width: 48px;
  height: 48px;
}

.hotel-image-link {
  text-decoration: none;
}

.footer-contacts-address-phone {
  text-decoration: none;
}

.star {
  width: 18px;
  height: 17px;
  background-image: url("../images/catalog-page/rating/icon-star.svg");
  background-repeat: no-repeat;
}

.pagination-item-list {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
