@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  min-width: 1000px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.stiled-paragraph {
  color: #333333;
  margin: 0;
  line-height: 26px;
  font-size: 22px;
}

.advantages-item-paragraph {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-paragraph-wide {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 #00000033;
}

.container {
  padding: 0 70px;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* header */
.header-wrapper {
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 170px;
  margin-top: 0;
  padding: 0;
  flex-grow: 1;
  margin-bottom: 0;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: 3px solid rgb(130, 179, 211);
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.302);
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 135px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.navigation-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.current-page:before {
  content: "";
  width: calc(100% - 32px);
  height: 2px;
  display: block;
  background-color: #756257;
  position: absolute;
  bottom: 0;
  left: 16px;
}

.navigation-user-link {
  margin: 0;
  padding: 22px 12px;
  background: 50% 50%;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: block;
  box-sizing: content-box;
}

.likes-icon {
  position: relative;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  outline: 3px solid rgb(130, 179, 211);
}

.navigation-user-link:active {
  background-color: #ffffff;
}

.likes-icon:active path {
  fill: rgba(117, 97, 87, 0.302);
}

.search-icon:active path {
  fill: rgba(117, 97, 87, 0.302);
}

.number-of-likes {
  color: #ffffff;
  position: absolute;
  background-color: #7db54f;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  line-height: 10px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  padding: 5px 4px;
  left: 20px;
  top: 11px;
}

.button {
  font: inherit;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  display: inline-block;
  min-height: 36px;
}

.button:disabled:not(.button-cancel) {
  background-color: #e5e5e5;
}

.hero {
  background-image: url("../images/index-page/hero-block/decor-flag.svg"),
    url("../images/index-page/hero-block/index-background.jpg");
  background-color: #497795;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  text-align: center;
  padding: 51px 371px 82px;
  background-position: center bottom, center top;
  height: 483px;
}

.advantages {
  text-align: center;
}

.advantages-preview {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 69px 0;
  text-align: center;
  gap: 25px;
  align-items: center;
  font-size: 22px;
}

.advantages-preview-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0;
}

.clear {
  background-color: rgba(130, 179, 211, 0.118);
}

.light-clear {
  background-color: rgba(130, 179, 211, 0.2);
}

.advantages-item-container {
  width: 230px;
  min-height: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  padding-top: 21px;
}

.advantages-item {
  padding: 113px 85px;
  width: 400px;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.advantages-item-wide {
  background-color: rgb(130, 179, 211);
  color: #ffffff;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-wide-column {
  display: flex;
  flex-direction: column;
  gap: 62px;
  width: 400px;
  padding: 0 85px;
  text-align: center;
  margin-top: 102px;
  position: relative;
  margin-bottom: 100px;
}

.advantages-normal-column {
  display: flex;
  flex-direction: column;
  gap: 62px;
  position: relative;
}

.advantages-wide-column-text {
  min-width: 230px;
}

.advantages-item-title::before {
  position: absolute;
  width: 60px;
  height: 2px;
  color: rgba(0, 0, 0, 0.302);
  content: "";
  background: #000000;
  opacity: 0.3;
  bottom: -33px;
  left: 85px;
}

.advantages-item-title-wide::before {
  color: rgba(255, 255, 255, 0.302);
  background: #ffffff;
  position: absolute;
  width: 60px;
  height: 2px;
  content: "";
  opacity: 0.3;
  bottom: -33px;
  left: 85px;
}

.search {
  margin: 0;
  text-align: center;
  padding: 98px 304px 97px;
}

.search-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.search-paragraph {
  margin-top: 20px;
  margin-bottom: 54px;
  padding: 0;
}

.search-button {
  padding: 8px 50px;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
}

.service {
  text-align: center;
}
.service-wrapper {
  margin: 64px auto;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 505px;
  flex-wrap: wrap;
  gap: 20px;
}

.service-title {
  margin: 0;
  text-transform: uppercase;
  line-height: 36px;
  font-size: 30px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.service-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 85px;
  background-repeat: no-repeat;
  background-position: center 80px;
}

.service-item-paragraph {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
}

.service-item-housing {
  background-image: url("../images/index-page/service/hausing.svg");
  background-repeat: no-repeat;
}

.service-item-food {
  background-image: url("../images/index-page/service/food.svg");
  background-repeat: no-repeat;
}

.service-item-souvenirs {
  background-image: url("../images/index-page/service/souvenirs.svg");
  background-repeat: no-repeat;
}

.service-item-title {
  margin-top: 102px;
  margin-bottom: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 230px;
}

.newsteller {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding: 96px 258px 104px;
}

.newsteller-main {
  background-image: url("../images/index-page/subscribe.jpg");
  background-color: #497795;
  color: #ffffff;
  background-size: cover;
}

.newsteller-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
}

.newsteller-paragraph {
  margin-top: 0;
  margin-bottom: 54px;
  color: #ffffff;
}

.newsteller-form {
  margin-top: 55px;
}

.newsteller-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.field {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  display: flex;
  width: 452px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
}

.newsteller-button {
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
  font-size: 20px;
}

/* catalog  */
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 0;
}

.breadcrumbs-link {
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-item:not(:first-child) {
  position: relative;
  padding-left: 20px;
}

.breadcrumbs-item:before {
  background-image: url("../images/catalog-page/breadcrumbs.svg");
  background-repeat: no-repeat;

  width: 7px;
  height: 12px;
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
}

.breadcrumbs:first-child::before {
  display: none;
}

.hotel-filter {
  background-color: #497795;
  color: #ffffff;
  background-image: url("../images/catalog-page/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 0 70px;
}

.hotel-filter-form {
  margin-top: 40px;
  width: 100%;
  display: flex;
}

.hotel-filter-group {
  border-style: hidden;
}

.hotel-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  gap: 16px;
}

.hotel-filter-checkbox {
  width: 150.426px;
  padding: 0;
  margin-right: auto;
}

.hotel-filter-radio {
  width: 146px;
  padding: 0;
  margin-left: auto;
}

.conveniences {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.conveniences-label {
  font-size: 18px;
  font: inherit;
  font-weight: 400;
  line-height: 23px;
}

.conveniences-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 25%;
}

.conveniences-input[type="checkbox"]:checked + .conveniences-mark {
  background-image: url("../images/catalog-page/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.conveniences-input[type="radio"] + .conveniences-mark {
  border-radius: 50%;
}

.conveniences-input[type="radio"]:checked + .conveniences-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.conveniences:hover {
  opacity: 0.6;
}

.conveniences-input:focus ~ .conveniences-mark {
  outline: 3px solid rgb(130, 179, 211);
}

.conveniences:active {
  opacity: 0.3;
}

.left-hotel-filter-group {
  width: 371px;
  padding: 0;
  justify-content: space-between;
  display: flex;
}

.right-hotel-filter-group {
  width: 549x;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding: 0;
}

.hotel-filter-group-price {
  width: 288px;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 32px;
  margin-right: 70px;
  margin-left: 0;
}

.price-number {
  display: flex;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  justify-content: space-between;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.price-number::-webkit-outer-spin-button,
.price-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-number:hover {
  background-color: #e6e6e6;
}

.price-number:focus {
  background-color: #e6e6e6;
  border: rgb(130, 179, 211);
}

.price-number-min,
.price-number-max {
  position: relative;
}

.price-number-min span,
.price-number-max span {
  color: rgba(0, 0, 0, 0.302);
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.hotel-filter-price-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lowest-price {
  border-radius: 4px 0 0 4px;
  border-style: hidden;
}

.highest-price {
  border-radius: 0 4px 4px 0;
  border-style: hidden;
}

.range-scale-wrap {
  position: relative;
  height: 4px;
  margin-top: 43px;
}

.range-scale {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.3;
}

.range-bar {
  width: 226px;
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  z-index: 2;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 4px solid rgb(130, 179, 211);
}

.range-toggle:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 2px solid rgb(130, 179, 211);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -2px;
}

.hotel-filter-buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-left: auto;
  margin-top: 56px;
  gap: 32px;
}

.hotel-filter-button {
  border-style: hidden;
  padding: 8px 50px;
  width: 100%;
}

.hotel-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.hotel-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  width: 100%;
}

.hotel-article {
  padding: 50px 0 60px;
}

.view-list-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.founded-hotels {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font: inherit;
  margin-left: auto;
  padding: 0 17px;
  padding-right: 50px;
  height: 49px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin-right: 70px;
  width: 292px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  appearance: none;
  background-image: url("../images/catalog-page/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-color: #ffffff;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid #000000;
  opacity: 0.3;
}

.select-control-option {
  margin-right: auto;
}

.view-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 160px;
}

.view-list-button {
  display: block;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view-list-button-table {
  background-image: url("../images/catalog-page/showlist/table.svg");
}

.view-list-button-slideshow {
  background-image: url("../images/catalog-page/showlist/slideshow.svg");
}

.view-list-button-list {
  background-image: url("../images/catalog-page/showlist/list.svg");
}

.view-list-button-current {
  border: 2px solid #000000;
}

.view-list-button:hover {
  border: 2px solid #000000;
}

.view-list-button:active {
  border: 2px solid #000000;
}

.view-list-button:focus {
  border: 2px solid #68a2ca;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-gap: 20px;
  margin-top: 40px;
}

.hotel-list-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.hotel-list-item:nth-child(3n) {
  margin-right: 0;
}

.hotel-list-item-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
}

.primary-description {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.primary-description p {
  font-size: 18px;
  line-height: 21px;
  max-width: 140px;
}

.hotel-buttons-block {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.secondary-description {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.rating {
  text-transform: uppercase;
  width: 140px;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 4px;
  justify-content: center;
  padding: 8px;
  padding-top: 10px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  min-height: 37px;
}

.hotel-list-item-image {
  width: 300px;
  height: 210px;
}

.primary-button {
  background-color: #756157;
}

.primary-button:hover {
  background-color: #615048;
}

.primary-button:focus {
  background-color: #615048;
}

.primary-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.302);
}

.primary-button:disabled {
  background: #e5e5e5;
}

.navigation-link-button {
  display: flex;
  flex-shrink: 0;
  width: 160px;
  justify-content: center;
  margin-left: 20px;
}

.secondary-button {
  background-color: rgb(130, 179, 211);
}

.secondary-button:hover:not(.pagination-item-link, .pagination-item-more) {
  background-color: #68a2ca;
}

.secondary-button:focus:not(.pagination-item-link, .pagination-item-more) {
  background-color: #68a2ca;
}

.secondary-button:active:not(.pagination-item-link, .pagination-item-more) {
  background-color: rgb(130, 179, 211);
  color: rgba(255, 255, 255, 0.302);
}

.secondary-button:disabled:not(.pagination-item-link, .pagination-item-more) {
  background: #e5e5e5;
}

.tertiary-button {
  background-color: #7db54f;
}

.tertiary-button:hover {
  background-color: #6c9e42;
}

.tertiary-button:focus {
  background-color: #6c9e42;
}

.tertiary-button:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.302);
}

.tertiary-button:disabled {
  background: #e5e5e5;
}

.button-cancel {
  background-color: transparent;
}

.button-cancel:hover {
  color: #ffffff;
  opacity: 0.6;
}

.button-cancel:focus {
  border-radius: 4px;
  outline: 3px solid rgb(130, 179, 211);
}

.button-cancel:active {
  color: rgba(255, 255, 255, 0.302);
}

.button-cancel:disabled {
  opacity: 0.1;
}

.hotel-list-item-button {
  width: 140px;
}

.hotel-image-link {
  text-decoration: none;
  color: #000000;
}

.footer-contacts-address-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}
.footer-contacts-address-phone:hover {
  color: #756157;
}
.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.302);
}

.star {
  width: 18px;
  height: 17px;
  background-image: url("../images/catalog-page/rating/icon-star.svg");
  background-repeat: no-repeat;
}

.stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  gap: 8px;
  margin-top: 80px;
}

.pagination-item-link {
  display: block;
  padding: 12px 18px;
  min-width: 60px;
  min-height: 60px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
}

.pagination-item-link:hover:not(
    .pagination-item-link-current,
    .pagination-item-more
  ) {
  background-color: #68a2ca;
}

.pagination-item-link:focus:not(
    .pagination-item-link-current,
    .pagination-item-more
  ) {
  background-color: #68a2ca;
}

.pagination-item-link:active:not(
    .pagination-item-link-current,
    .pagination-item-more
  ) {
  background-color: rgb(130, 179, 211);
  color: rgba(255, 255, 255, 0.302);
}

.pagination-item-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-item-more {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.footer-wrapper {
  display: flex;
  padding: 45px 0 30px;
  justify-content: space-between;
  align-items: center;
}

/* иконки соц сетей */

.footer-social-list {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  max-width: 141px;
}

.social-button {
  display: block;
  padding: 11px 15px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.social-button:hover path {
  fill: #68a2ca;
}

.social-button:active path {
  fill: #68a2ca;
  opacity: 0.3;
}

.social-button:focus path {
  fill: #68a2ca;
}

.footer-contacts {
  text-align: center;
  margin: 0 195px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-contacts-address-phone {
  color: #000000;
}

.footer-html-logo {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.html-logo:hover path {
  fill: #756157;
}

.html-logo:focus path {
  fill: #756157;
}
.html-logo:active path {
  fill: rgba(117, 97, 87, 0.302);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2d8;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-reservation {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/modal/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid rgb(130, 179, 211);
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-title {
  font: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-right: 40px;
}

.form-reservation {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.modal-form-label {
  max-width: 135px;
  text-transform: capitalize;
}

.filed-group {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
}

.modal-hint {
  position: relative;
  top: 100%;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 137px;
  padding: 0 20px;
  font-weight: 400;
  margin-top: 4px;
}

.modal-error {
  color: #ff5757;
}

.people-number-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-input-number-wrapper {
  display: flex;
  width: 110px;
  border-radius: 4px;
}

.modal-form-input {
  display: block;
  border: none;
  width: 100%;
  color: #000000;
  background-color: #f2f2f2;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.modal-data-input {
  color: #000000;
  width: 440px;
  text-align: left;
  padding: 0 20px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.modal-form-input:default {
  opacity: 0.6;
}

.modal-form-input:hover {
  background-color: #e6e6e66d;
  color: #0000006d;
}

.modal-form-input:focus {
  color: #0000006d;
  border: 3px solid rgb(130, 179, 211);
  background-color: #e6e6e66d;
}

.reservation-form-date {
  font: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.field-people {
  font: inherit;
  padding: 14px 0;
  width: 30px;
  line-height: 20px;
}

.field-people::-webkit-outer-spin-button,
.field-people::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.people-number {
  display: flex;
  gap: 46px;
}

.modal-child-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85px;
}

.tooltip {
  position: absolute;
  margin-left: 58px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(130, 179, 211);
  cursor: pointer;
  position: relative;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  padding: 23px 22px 23px;
  border-radius: 8px;
  width: 256px;
  position: absolute;
  bottom: -16px;
  margin-bottom: 6px;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 1;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  display: none;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/modal/tooltip-arrow.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 8px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 3px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-number-button {
  width: 40px;
  border: none;
  cursor: pointer;
}

.reduce-button:hover path {
  fill: #000000;
}

.add-button:hover path {
  fill: #000000;
}

.reduce-button:focus path {
  fill: #000000;
  border-radius: 4px;
  border: 3px solid rgb(130, 179, 211);
}

.add-button:focus path {
  fill: #000000;
  border-radius: 4px;
  border: 3px solid rgb(130, 179, 211);
}

.reduce-button:active path {
  fill: "#756157";
  opacity: 0.3;
}

.add-button:active path {
  fill: "#756157";
  opacity: 0.3;
}

.reduce-button {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
  position: relative;
}

.add-button {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 4px 4px 0;
  position: relative;
}

.modal-submit-button {
  border-radius: 10px;
  color: #ffffff;
  background: rgb(130, 179, 211);
  display: block;
  padding: 18px 5px;
  width: 577px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.modal-submit-button:hover {
  background: #68a2ca;
}

.modal-submit-button:focus {
  background: #68a2ca;
}
.modal-submit-button:active {
  color: rgba(255, 255, 255, 0.239);
  background: #68a2ca;
}

.modal-container-close {
  display: none;
}
